.site-layout {
  .site-layout-background {
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    svg {
      font-size: 20px;
      margin-left: 15px;
    }
    .right {
      height: 100%;
      display: flex;
      padding-right: 15px;
      a {
        color: #333333;
      }
      .account {
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-right: 10px;
        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
        }
        p {
          padding-top: 12px;
          padding-left: 5px;
        }
        &:hover {
          background: rgba(0, 0, 0, 0.025);
        }
      }
      .language {
        height: 100%;
        padding-right: 10px;
        &:hover {
          background: rgba(0, 0, 0, 0.025);
        }
      }
    }
  }
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0px;
  img {
    width: 32px;
    height: 32px;
    margin: 0px 10px;
  }
  a {
    font-size: 20px;
    color: #1890ff;
    font-weight: bold;
  }
}
.sidebar {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
